.expense-item__component {
	.exp-holder {
		display: flex;
		width: 100%;
		flex-grow: 1;

		.info {
			flex-grow: 1;

			.fr-row {
				.description {
					margin-bottom: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.small {
					font-size: 0.8em;
				}
			}

			.total-group-amount {
				text-align: right;
				font-size: 1.6em;

				button {
					font-size: 0.6em;
					margin-left: 10px;
				}
			}

			.friends-list {
				font-size: 0.8em;
				margin-top: 10px;
			}
		}

		.amount-detail {
			text-align: center;
		}
	}
}
