.add-expenses__page {
	.input-container {
		.row {
			margin: 18px 0;
		}
		.input-and-suggestion-holder {
			position: relative;
			.friend-input {
				width: 100%;
			}

			.suggestions {
				position: absolute;
				z-index: 100;
				.list-group {
					.list-group-item {
						cursor: pointer;
					}
				}
			}
		}
		.already-added-friends {
			margin-top: 8px;
			display: flex;
			flex-wrap: wrap;
			.badge {
				margin-right: 6px;
				display: flex;
				align-items: center;
				width: fit-content;
				margin-bottom: 6px;
				i {
					margin-left: 6px;
					cursor: pointer;
				}
			}
		}
		.expenses-state {
			width: 100%;
		}
		h6 {
			text-align: center;
		}
	}
}
