$primary-green: #5dc5a7;
$secondary-light-green: #40957c;
$secondary-green: #173d32;
$dark-green: #0b2b21;
$white:#fff;

$custom-colors: (
	"light": (
		primary: $primary-green,
		font-color: $dark-green,
		border-color: $secondary-green,
		link-color: $white,
		link-active-color: $dark-green,
		highlight: $secondary-light-green,
		bk-color: $secondary-green,
		on-bk-font: $white,
		slider: $primary-green,
		slider-roller: $secondary-green,
		list-bk: $white,
		list-color: $dark-green
	),
	"dark": (
		primary: $secondary-green,
		font-color: $white,
		border-color: $primary-green,
		link-color: $white,
		link-active-color: $primary-green,
		highlight: $primary-green,
		bk-color: $secondary-green,
		on-bk-font: $dark-green,
		slider: $secondary-green,
		slider-roller: $primary-green,
		list-bk: $dark-green,
		list-color: $white
	)
);

@function clr($base, $shade) {
	$color: map-get(map-get($custom-colors, $base), $shade);
	@return $color;
}

@mixin themable($theme-name, $bt-primary, $bt-danger) {
	.#{$theme-name} {
		.container {
			background-color: clr($theme-name, "primary");
		}

		.container-fluid {
			background-color: clr($theme-name, "primary");
		}

		h2 {
			color: clr($theme-name, "font-color");
		}

		.bottom-navigation__component {
			border-top: 1px solid clr($theme-name, "border-color");

			a {
				color: clr($theme-name, "link-color");

				&.active {
					color: clr($theme-name, "link-active-color");
				}
			}
		}

		.dashboard__page {
			.highlight-user {
				color: clr($theme-name, "highlight");
				font-weight: 400;
			}
			.list-group-item {
				background-color: clr($theme-name, "list-bk");
				color: clr($theme-name, "list-color");
			}
		}

		.receive-highlight {
			color: $bt-primary;
		}

		.owe-highlight {
			color: $bt-danger;
		}

		.switch__component {
			.slider {
				background-color: clr($theme-name, "slider");
			}

			.slider:before {
				background-color: clr($theme-name, "slider-roller");
			}
		}

		.theme-font-color {
			color: clr($theme-name, "font-color");
		}

		.nav-link {
			color: clr($theme-name, "font-color");
		}
	}
}
