@import "src/styles/variables";
@import "~bootstrap/scss/bootstrap";
@import "src/styles/global";


* {
	padding: 0;
	margin: 0;
}


html, body {
	height: 100%;

	.root {
		height: inherit;
	}
}

@include themable("light");
@include themable("dark");
